@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  display: none;
}

@font-face {
  font-family: Gilroy;
  src: url('/Gilroy-Medium.ttf');
}
*{
  font-family: Gilroy;
}
@font-face {
  font-family: Sperry;
  src: url('/SP.woff2');
}
::selection{
  background-color: #333;
  color: #000;
}